/* css.css */
/* mobile first styles */
nav ul {
  list-style-type: none;
  padding:0;
  display: flex;
  flex-direction:column;
}
nav li a {
  text-decoration:none;
  display:block;
  background-color:#efefef;
  padding: .5rem 1rem;
}
nav li a:hover {
  color:#efefef;
  background-color:teal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}
body {
  font-family: 'Lato', sans-serif;
}
